---
import Wrapper from '../wrapper.astro'

const AGENDA = [
  {
    hour: '8:00 am (PET)',
    ubi: 'Sala 1',
    title: 'Visualización de datos en Python.',
    description: 'Visualización de datos en Python.',
    speaker: {
      avatar: 'https://unam.edu.pe/cisccom/img/cristian.png',
      name: 'Cristian Martinez',
      job: 'Científico de Datos y Docente-Investigador',
    },
  },
  {
    hour: '8:00 am (PET)',
    ubi: 'Sala 1',
    title: 'Visualización de datos en Python.',
    description: 'Visualización de datos en Python.',
    speaker: {
      avatar: 'https://unam.edu.pe/cisccom/img/cristian.png',
      name: 'Cristian Martinez',
      job: 'Científico de Datos y Docente-Investigador',
    },
  },
  {
    hour: '8:00 am (PET)',
    ubi: 'Sala 1',
    title: 'Visualización de datos en Python.',
    description: 'Visualización de datos en Python.',
    speaker: {
      avatar: 'https://unam.edu.pe/cisccom/img/cristian.png',
      name: 'Cristian Martinez',
      job: 'Científico de Datos y Docente-Investigador',
    },
  },
]
const DAYS = [
  {
    day: '14 Feb.',
    fecha: '14-09-23',
    active: true,
  },
  {
    day: '14 Feb.',
    fecha: '14-09-23',
    active: false,
  },
  {
    day: '14 Feb.',
    fecha: '14-09-23',
    active: false,
  },
]
---

<section class="py-8">
  <Wrapper>
    <h2 class="text-black text-4xl font-bold text-center">Agenda del Evento</h2>
    <p class="text-black/70 text-center mx-auto my-4 lg:w-[60%]">
      El congreso se realizará según los temas fijados.
    </p>

    <div class="flex flex-row justify-center gap-4 my-8">
      {
        DAYS.map(item => (
          <div
            class={`relative h-32 w-32 flex flex-col justify-center items-center text-center rounded-full border-[3px] border-[hsl(var(--primary))] ${
              item.active && 'bg-[hsl(var(--primary))]'
            }`}
          >
            {item.active && (
              <span>
                <svg
                  class="h-6 w-6 absolute top-0 bg-[hsl(var(--primary))] text-white border-[3px] rounded-full p-1 border-white left-0"
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  fill="currentColor"
                  viewBox="0 0 448 512"
                >
                  <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                </svg>
              </span>
            )}
            <h2
              class={`font-semibold text-lg ${
                item.active ? ' text-white' : ' text-black'
              }`}
            >
              {item.day}
            </h2>
            <p class={`text-sm ${item.active ? ' text-white' : ' text-black'}`}>
              {item.fecha}
            </p>
          </div>
        ))
      }
    </div>

    <div class="flex flex-col gap-4">
      {
        AGENDA.map(item => (
          <div class="grid grid-cols-6 items-center gap-2 bg-[hsl(var(--primary))]/5 rounded-xl py-6 px-8">
            <div>
              <h5 class="text-[hsl(var(--primary))] text-lg font-semibold">
                {item.hour}
              </h5>
              <p class="text-black/70 text-sm">{item.ubi}</p>
            </div>
            <div class="flex col-span-2 items-center gap-4 border-l pl-4 border-gray-200">
              <img
                src={item.speaker.avatar}
                class="h-16 w-16 rounded-full"
                alt=""
              />
              <div>
                <h5 class="text-black font-semibold">{item.speaker.name}</h5>
                <p class="text-black/70 text-xs">{item.speaker.job}</p>
              </div>
            </div>
            <div class="col-span-3 border-l  pl-4 border-gray-200">
              <h4 class="text-lg text-black font-semibold">{item.title}</h4>
              <p class="text-black/70 text-xs">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
