---
import Wrapper from '../wrapper.astro'
import Notponencia from './notponencia.astro'
import Ponencia from './ponencia.astro'
import Panel from './panel.astro'

const AGENDA1 = [
  { notPont: true, hour: '13:45 pm (PET)', title: 'Charla de Bienvenida' },
  {
    hour: '14:00 pm (PET)',
    ubi: 'Auditorio EPISI',
    title: 'Hierarchical image segmentation algorithms.',
    description: '',
    speaker: {
      name: 'Edward Cayllahua Cahuina',
      job: 'Profesional en ciencias de la computación',
      avatar: '/assets/speakers/edward.png',
    },
  },
  { notPont: true, hour: '14:30 pm (PET)', title: 'Preguntas' },
  {
    hour: '14:40 pm (PET)',
    ubi: 'Auditorio EPISI',
    title:
      'La Inteligencia Artificial Generativa, su impacto en el trabajo y las empresas.',
    description: '',
    speaker: {
      name: 'José Eduardo Ochoa Luna',
      job: 'Profesional en ciencias de la computación',
      avatar: '/assets/speakers/jose.png',
    },
  },
  { notPont: true, hour: '15:10 pm (PET)', title: 'Preguntas' },
  {
    isPanel: true,
    hour: '15:20 pm (PET)',
    ubi: 'Auditorio EPISI',
    title: 'Hub de talento en tecnología en el Perú y el mundo',
    description:
      ' Jose Ochoa, Edward Cayllahua,  Alex Cuadros y Honorio Apaza (Moderador)',
    speakers: [
      {
        name: 'José Eduardo Ochoa Luna',
        job: 'José Eduardo Ochoa Luna',
        avatar: '/assets/speakers/jose.png',
      },
      {
        name: 'Edward Cayllahua Cahuina',
        job: ' Profesional en ciencias de la computación',
        avatar: '/assets/speakers/edward.png',
      },
      {
        name: 'Alex Cuadros Vargas',
        job: 'Profesional en ciencias matemáticas y de domputación',
        avatar: '/assets/speakers/alex.png',
      },
    ],
  },
  { notPont: true, hour: '15:50 pm (PET)', title: 'Preguntas' },
  { notPont: true, hour: '16:00 pm (PET)', title: 'Break' },
  {
    hour: '16:20 pm (PET)',
    ubi: 'Auditorio EPISI',
    title:
      'Detección de violencia en video vigilancia usando redes transformers',
    description: '',
    speaker: {
      name: 'Juan Carlos Gutiérrez Cáceres',
      job: 'Profesional en ciencias de la computación',
      avatar: '/assets/speakers/juan.png',
    },
  },
  { notPont: true, hour: '17:50 pm (PET)', title: 'Preguntas' },
  {
    hour: '18:00 pm (PET)',
    ubi: 'Auditorio EPISI',
    title: 'Perfiles de computación de ACM.',
    description: '',
    speaker: {
      name: 'Alex Cuadros',
      job: 'Profesional en ciencias matemáticas y de computación',
      avatar: '/assets/speakers/alex.png',
    },
  },
  { notPont: true, hour: '18:30 pm (PET)', title: 'Preguntas' },
  {
    isPanel: true,
    hour: '18:40 pm (PET)',
    ubi: 'Auditorio EPISI',
    title: 'Qué profesionales necesita Perú para la transformación digital',
    description:
      'Juan Carlos Gutiérrez, Alex Cuadros, Anibal Flores y Honorio Apaza (Moderador)',
    speakers: [
      {
        avatar: '/assets/speakers/alex.png',
        name: 'Alex Cuadros',
        job: 'Científico de Datos y Docente-Investigador',
      },
      {
        avatar: '/assets/speakers/juan.png',
        name: 'Juan Carlos Gutiérrez Cáceres',
        job: 'Científico de Datos y Docente-Investigador',
      },
      {
        avatar: '/assets/speakers/anibal.png',
        name: 'Anibal Flores',
        job: 'Científico de Datos y Docente-Investigador',
      },
    ],
  },
]
const AGENDA2 = [
  {
    hour: '09:00 am (PET)',
    ubi: 'Auditorio EPISI',
    title: 'Adiós Industria 4.0, el por qué nos dirigimos a la Industria 5.0',
    description: '  ',
    speaker: {
      name: 'Manuel Loaiza ',
      job: 'Profesional en ciencias de la computación',
      avatar: '/assets/speakers/manuel.png',
    },
  },
  { notPont: true, hour: '09:30 am (PET)', title: 'Preguntas' },
  {
    hour: '09:40 pm (PET)',
    ubi: 'Auditorio EPISI',
    title: 'Binarizacion híbrida para el degradado de documentos históricos',
    description: ' ',
    speaker: {
      name: 'Yessenia Yari',
      job: 'Profesional en ciencias de la computación',
      avatar: '/assets/speakers/yessenia.png',
    },
  },
  { notPont: true, hour: '10:10 pm (PET)', title: 'Preguntas' },
  {
    isPanel: true,
    hour: '10:20 am (PET)',
    ubi: 'Auditorio EPISI',
    title:
      'Empoderamiento Femenino en la Era Digital: Mujeres en la Computación',
    description:
      'Yessenia Yari, Manuel Loaiza, Maribel Coaguila y Allison Reynoso (Moderadora)',
    speakers: [
      {
        avatar: '/assets/speakers/yessenia.png',
        name: 'Yessenia Yari',
        job: 'Científico de Datos y Docente-Investigador',
      },
      {
        avatar: '/assets/speakers/manuel.png',
        name: 'Cristian Martinez',
        job: 'Científico de Datos y Docente-Investigador',
      },
      {
        avatar: '/assets/speakers/maribel.jpeg',
        name: 'Maribel',
        job: 'Científico de Datos y Docente-Investigador',
      },
    ],
  },
  { notPont: true, hour: '10:50 am (PET)', title: 'Preguntas' },
  { notPont: true, hour: '11:00 am (PET)', title: 'Break' },
  {
    hour: '11:20 am (PET)',
    ubi: 'Auditorio EPISI',
    title: 'Como funciona ChatGPT por dentro',
    description: 'Ponencia Virtual.',
    speaker: {
      name: 'Omar U. Flores',
      job: 'Profesional en ciencias de la computación',
      avatar: '/assets/speakers/omar.png',
    },
  },
  { notPont: true, hour: '11:50 am (PET)', title: 'Preguntas' },
  {
    hour: '12:00 pm (PET)',
    ubi: 'Auditorio EPISI',
    title: 'NeuroAI: La Ultima Frontera de la Inteligencia Artificial.',
    description: ' ',
    speaker: {
      name: 'Arturo Deza',
      job: 'Profesional en ciencias de la computación.',
      avatar: '/assets/speakers/arturo.png',
    },
  },
  { notPont: true, hour: '12:30 pm (PET)', title: 'Preguntas' },
]
const DAYS = [
  {
    day: '30 Nov.',
    fecha: '30-11-23',
    code: 'day301123',
    active: true,
  },
  {
    day: '01 Dic.',
    fecha: '01-12-23',
    code: 'day011223',
    active: false,
  },
]
---

<section id="agenda" class="py-20" data-aos="fade-up" data-aos-duration="500">
  <Wrapper>
    <h2 class="text-black text-4xl font-bold text-center">Agenda del Evento</h2>
    <p class="text-black/70 text-center mx-auto my-4 lg:w-[60%]">
      El congreso se realizará según los temas fijados.
    </p>

    <div class="flex flex-row justify-center gap-4 my-8">
      {
        DAYS.map(item => (
          <label for={item.code} class="cursor-pointer circle_day">
            <div
              class={`relative  h-32 w-32 flex flex-col justify-center transition duration-300 items-center text-center rounded-full border-[3px] border-[hsl(var(--primary))] ${
                item.active && 'bg-[hsl(var(--primary))]'
              }`}
            >
              {item.active && (
                <span>
                  <svg
                    class="h-6 w-6 absolute top-0 bg-[hsl(var(--primary))] text-white border-[3px] rounded-full p-1 border-white left-0"
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    fill="currentColor"
                    viewBox="0 0 448 512"
                  >
                    <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                  </svg>
                </span>
              )}
              <h2 class="font-semibold text-lg text-inherit">{item.day}</h2>
              <p class="text-sm text-inherit">{item.fecha}</p>
            </div>
          </label>
        ))
      }
    </div>

    <div>
      <input
        type="radio"
        checked
        name="fecha"
        class="h-0 w-0 invisible control_check"
        id="day301123"
      />
      <input
        type="radio"
        name="fecha"
        class="h-0 w-0 invisible control_check"
        id="day011223"
      />

      <div class="flex flex-col gap-3 day301123">
        <h2 id="30-11-23" class="mt-8 text-5xl text-center font-bold">Día 1</h2>
        <p class="mb-6 text-center text-black/70">30 de noviembre del 2023</p>
        {
          AGENDA1.map((item, index) =>
            item.notPont ? (
              <Notponencia {...item} />
            ) : item.isPanel ? (
              <Panel {...item} index={index} />
            ) : (
              <Ponencia {...item} index={index} />
            )
          )
        }
      </div>
      <div class="flex flex-col gap-3 day011223">
        <h2 id="01-12-23" class="mt-8 text-5xl text-center font-bold">Día 2</h2>
        <p class="mb-6 text-center text-black/70">01 de diciembre del 2023</p>
        {
          AGENDA2.map((item, index) =>
            item.notPont ? (
              <Notponencia {...item} />
            ) : item.isPanel ? (
              <Panel {...item} index={index} />
            ) : (
              <Ponencia {...item} index={index} />
            )
          )
        }
        <Notponencia hour="12:40 pm (PET)" title="Finalizacion del congreso" />
      </div>
    </div>
  </Wrapper>
</section>
<style>
  #day301123:checked ~ .day301123 {
    display: flex;
    opacity: 1;
    animation: view_card 0.3s ease-in-out;
  }
  #day011223:checked ~ .day011223 {
    display: flex;
    opacity: 1;
    animation: view_card 0.3s ease-in-out;
  }

  @keyframes view_card {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .day011223 {
    display: none;
  }
  .day301123 {
    display: none;
  }
</style>
<script>
  /* Pasar por alto los warnings, es por tema de tipado del propio editor. */

  const controls = document.querySelectorAll('.control_check')
  const days = document.querySelectorAll('.circle_day')
  controls.forEach(control => {
    control.addEventListener('change', e => {
      if (control.checked) {
        days.forEach(day => {
          const currentDay = day.firstElementChild
          if (control.id == day.getAttribute('for')) {
            currentDay.style.background = 'hsl(var(--primary))'
            currentDay.style.color = '#fff'
          } else {
            currentDay.style.background = 'transparent'
            currentDay.style.color = '#000'
          }
        })
      }
    })
  })
</script>
