---
import Wrapper from '../wrapper.astro'
import Comision from './nosotros.astro'
import ComisionWeb from './web.astro'
import Tabla from './tabla.astro'
import type { HTMLAttributes } from 'astro/types'

const COMISION = [
  {
    name: 'Honorio Apaza',
    job:'Natural Language Processing Researcher',
    cargo:'Organizador, Presidente',
    avatar: '/assets/crew/honorio.jpeg',
    url: 'https://www.linkedin.com/in/honorio-aa/',
    color: 'text-amber-600'
  },
  {
    name: 'Victor Yana',
    job:'Estudiante de la escuela profesional',
    cargo:'Organizador, Director',
    avatar: '/assets/crew/yana.jpg',
    url: 'https://www.linkedin.com/in/victor-yana-8ba24697/',
    color: 'text-amber-600'
  },
  {
    name: 'Estrella Velázquez',
    job:'Estudiante de la escuela profesional',
    cargo:'Organizadora Principal',
    avatar: '/assets/crew/estrellapng.png',
    url: 'https://www.linkedin.com/in/estrella-velásquez-zuñiga-57b6941aa/?lipi=urn%3Ali%3Apage%3Ad_flagship3_people_connections%3BdviiW4CZSX2tvC3u3to0kw%3D%3D',
    color: 'text-amber-600'
  },
  {
    name: 'Allison Reynoso',
    job:'Estudiante de la escuela profesional',
    cargo:'Organizadora Principal',    
    avatar: '/assets/crew/member.svg',
    url: 'https://www.linkedin.com/in/allison-reynoso-serra-a1055221a/?lipi=urn%3Ali%3Apage%3Ad_flagship3_people_connections%3BR8J1W6FcRDWoGCaBqxEPEA%3D%3D',
    color: 'text-amber-600'
  },
]

const WEB = [
  {
    name: 'José Paye',
    job:'Fullstack Developer',
    avatar: '/assets/sponsor/foxtech.png',
    url: 'https://www.linkedin.com/in/jose-enrique-paye-mamani-6804ab201/',
    url2: 'https://github.com/ZeroK06',
    color: 'text-green-600'
  },
  {
    name: 'Jamir Edu Balcona',
    job:'Web Developer & Designer',
    avatar: '/assets/crew/j.png',
    url: 'https://www.linkedin.com/in/jamir-balcona-viza-80826a218/',
    url2: 'https://github.com/jamviz',
    color: 'text-green-600'
  },
  {
    name: 'Mariela Nina',
    job:'Web Developer & Designer',
    avatar: '/assets/crew/mariela.png',
    url: 'https://www.linkedin.com/in/marielanina/',
    url2: 'https://github.com/MarielaNina',
    color: 'text-green-600'
  },
]

const CIENCIA = [
{
    name: 'Dina Elisa León Marín',
    cargo:'',
    avatar: '/assets/crew/member.svg',
    url: 'https://www.linkedin.com/in/dina-leon-marin-9b764b1a7/?originalSubdomain=pe',
    color: 'text-green-600'
  },
{
    name: 'Yoselin Arocutipa Lovon',
    cargo:'',
    avatar: '/assets/crew/member.svg',
    url: 'https://www.linkedin.com/in/yoselin-arocutipa-452a84279/?lipi=urn%3Ali%3Apage%3Ad_flagship3_people_connections%3BdviiW4CZSX2tvC3u3to0kw%3D%3D',
    color: 'text-green-600'
  },
]

const LOGISTICA = [
  {
    name: 'Seline Maquera Ortega',
    cargo:'',
    avatar: '/assets/crew/sel.png',
    url: 'https://www.linkedin.com/in/seline-maciel-maquera-ortega-63b688280/',
    color: 'text-teal-500'
  },
  {
    name: 'Jhormely Sosa Cabe',
    cargo:'',
    avatar: '/assets/crew/member.svg',
    url: '',
    color: 'text-teal-500'
  },
  {
    name: 'Cristhian Laqui Yucra',
    cargo:'',
    avatar: '/assets/crew/member.svg',
    url: '',
    color: 'text-teal-500'
  },
]

const FINANZAS = [
{
    name: 'Lucciana Caballero',
    cargo:'',
    avatar: '/assets/crew/lucci.png',
    url: '',
    color: 'text-yellow-600'
  },
  {
    name: 'Alexander Morales',
    cargo:'',
    avatar: '/assets/crew/member.svg',
    url: '',
    color: 'text-yellow-600'
  },
  {
    name: 'Maribel Cuaguila',
    cargo:'',
    avatar: '/assets/speakers/maribel.jpeg',
    url: '',
    color: 'text-yellow-600'
  },
  {
    name: 'Alberto Limache Flores',
    cargo:'',
    avatar: '/assets/crew/limache.png',
    url: 'https://www.linkedin.com/in/betho-limache-flores-68145b86/',
    color: 'text-yellow-600'
  },
]
---


<Wrapper>

  <h2 class="text-4xl text-center font-bold my-10">Comité central VI CISCCOM</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 my-12">
    {COMISION.map((item, index) => <Comision {...item} index={index} />)}
  </div>

  <h2 class="text-4xl text-center font-bold my-10">Comité de Desarrollo y Comunicaciones</h2>
  <div class="grid grid-cols-1 md:grid-cols-1 gap-12 my-12">
    {WEB.map((item, index) => <ComisionWeb {...item} index={index} />)}
  </div>

  <h2 class="text-4xl text-center font-bold my-10">Comité Científico</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 my-12">
    {CIENCIA.map((item, index) => <Comision {...item} index={index} />)}
  </div>

  <h2 class="text-4xl text-center font-bold my-10">Comité de Logística</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 my-12">
    {LOGISTICA.map((item, index) => <Comision {...item} index={index} />)}
  </div>

  <h2 class="text-4xl text-center font-bold my-10">Comité de Finanzas</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 my-12">
    {FINANZAS.map((item, index) => <Comision {...item} index={index} />)}
  </div>

  <h2 class="text-4xl text-center font-bold my-10">Miembros del Staff y Support</h2>
  <Tabla/>

</Wrapper>
