---
import Wrapper from '../wrapper.astro'
/* solo 3 sponsors y multiplicarlos por 4 */
const team = [
  {
    name: 'UNAM',
    url: '',
    image: '/assets/logo-u.png',
    job: 'Partner',
  },

  {
    name: 'AI-MARA',
    image: '/assets/logoSistemas.png',
    job: 'Partner',
  },
  {
    name: 'Sponsor1',
    image: '/assets/logo-u.png',
    job: 'Sponsor',
  },
  {
    name: 'UNAM',
    image: '/assets/logo-u.png',
    job: 'Partner',
  },

  {
    name: 'AI-MARA',
    image: '/assets/logoSistemas.png',
    job: 'Partner',
  },

  {
    name: 'Sponsor1',
    image: '/assets/logo-u.png',
    job: 'Sponsor',
  },
  {
    name: 'UNAM',
    image: '/assets/logo-u.png',
    job: 'Partner',
  },

  {
    name: 'AI-MARA',
    image: '/assets/logoSistemas.png',
    job: 'Partner',
  },

  {
    name: 'Sponsor1',
    image: '/assets/logo-u.png',
    job: 'Sponsor',
  },
  {
    name: 'UNAM',
    image: '/assets/logo-u.png',
    job: 'Partner',
  },

  {
    name: 'AI-MARA',
    image:'/assets/logoSistemas.png',
    job: 'Partner',
  },

  {
    name: 'Sponsor1',
    image: '/assets/logo-u.png',
    job: 'Sponsor',
  },
]
const IMPORTANT_PARTNERS = [
  {
    name: 'UNAM',
    image: '/assets/logo-u.png',
    job: 'Partner',
  },

  {
    name: 'Sponsor1',
    image: '/assets/logoSistemas.png',
    job: 'Sponsor',
  },

  {
    name: 'AI-MARA',
    image: '/assets/logo_AIMARA.png',
    job: 'Partner',
  },
]
---

<section class="py-12" id="partners">
  <Wrapper>
    <h2 class="text-4xl text-center font-bold mt-3">Partners y Sponsors</h2>

    <div class="grid grid-cols-3 gap-8 my-5">
      {
        IMPORTANT_PARTNERS.map(item => (
          <a
            href="#"
            class="px-10 py-4 border-2 flex justify-center group border-gray-200 transition-all duration-500 hover:border-[hsl(var(--primary))] rounded-2xl"
          >
            <div>
              <img
                class="max-h-20 group-hover:scale-105 transition-transform duration-500"
                src={item.image}
                alt={item.name}
              />
            </div>
            
          </a>
          
        ))
      }
    </div>

    <div class="bg-gray-100 rounded-xl relative py-6 px-8 mt-8 overflow-hidden">
      <span
        class="z-10 h-[100%] absolute top-0 left-0 w-[25%] bg-gradient-to-r from-gray-100 to-transparent"
      ></span>
      <span
        class="z-10 h-[100%] absolute top-0 right-0 w-[25%] bg-gradient-to-l from-gray-100 to-transparent"
      ></span>
      <ul
        class="flex gap-8 w-max partner_left hover:[animation-play-state:paused]"
      >
        {
          team.map(item => (
            <a
              href="#"
              class="min-w-[50px] h-24 py-4 px-12 group bg-white rounded-xl flex justify-center items-center"
            >
              <li class="">
                <img
                  class="w-full max-h-20 group-hover:scale-105 transition-transform duration-500"
                  src={item.image}
                  alt={item.name}
                />
              </li>
            </a>
          ))
        }
      </ul>
      <ul class="flex gap-8 mt-4 w-max partner_right">
        {
          team.map(item => (
            <a
              href="#"
              class="min-w-[50px] h-24 py-4 px-12 group bg-white rounded-xl flex justify-center items-center"
            >
              <li class="">
                <img
                  class="w-full max-h-20 group-hover:scale-105 transition-transform duration-500"
                  src={item.image}
                  alt={item.name}
                />
              </li>
            </a>
          ))
        }
      </ul>
    </div>
  </Wrapper>
</section>
<style>
  .partner_left:hover {
    animation-play-state: paused;
  }
  .partner_right:hover {
    animation-play-state: paused;
  }
  .partner_left {
    animation: 60s marquee infinite linear;
  }
  .partner_right {
    animation: 60s marquee infinite linear reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    to {
      transform: translateX(calc(-50% - 64px / 4));
    }
  }
</style>
